@import "tailwindcss";

@theme {
  --color-background: #131313;
  --color-card: #1f1f1f;
  --color-primary: #e3f31b;
  --color-card-background: #2f2b43;
  --color-primary-hover: #becc00;
  --color-white-hover: #d9d9d9;
  --color-card-hover: #2d2d2d;
}

@layer base {
  button {
    @apply hover:cursor-pointer;
  }
}
